<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/folder.css">>
    <title>{{ folder_name }} - File Explorer</title>
</head>
<body>
    <h1> File Explorer - {{ folder_name }} </h1>
    <form id="miFormulario"  method="post" action="/descargar">
        <ul>
            {% for item in files_and_folders %}
                <li>
                    <input type="checkbox" name="selected_files" value="{{ item }}">
                    {{ item }}
                </li>
            {% endfor %}
        </ul>
        {% if folder_name == 'uploads' %}
        <button type="button" onClick="process_file()">Procesar</button>
        {% elif folder_name == 'outputs' %}
        <button type="submit">Descargar</button>
        {% endif %}
        
    </form>

    <a href="{{ url_for('archivos') }}">Volver al directorio principal</a>
    <script>
        function process_file(){
            var checkboxes = document.getElementsByName('selected_files');
            var selectedItems = [];

            // Recorrer los checkboxes y agregar los elementos seleccionados al array
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    selectedItems.push(checkbox.value);
                }
            });
            console.log(selectedItems)
            fetch('/proces/', {
            method: 'POST',
            body: JSON.stringify({ selectedFiles: selectedItems }),
            headers: {
                //'X-CSRF-Token': obtenerCSRFToken(),
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.text())
        .then(data => {
            datosRespuesta = data;
            console.log(data);
        })
        }
    </script>
</body>
</html>
