<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/folder.css">
    <link rel="shortcut icon" href="static\imgs\favicon.ico">
    <title>{{ folder_name }} - File Explorer</title>
</head>
<h1>Subir Ortoma</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.ortomap.label }}
            {{ form.ortomap() }}
        </p>
        <p>
            <input type="submit" value="Subir">
        </p>
    </form>
<body>
    <h1> File Explorer - {{ folder_name }} </h1>
    <form id="miFormulario"  method="post" action="/descargar">
        <ul>
            <li>
                <input type="checkbox" id="seleccionarTodos" onclick="selectAll()">
                <label for="seleccionarTodos">Seleccionar Todos</label>
            </li>
            {% for item in files_and_folders %}
                <li>
                    <input type="checkbox" name="selected_files" value="{{ item }}">
                    {{ item }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" onClick="process_file()">Procesar</button>
    </form>

    <a href="{{ url_for('archivos') }}">Volver al directorio principal</a>
    <select id="opciones" name="opciones">
        <option value="opcion1" selected>U-Net</option>
        <option value="opcion2">W-Net</option>
        <option value="opcion3">clustering</option>
    </select>
    <script>
        function process_file(){
            var checkboxes = document.getElementsByName('selected_files');
            var selectedItems = [];
            var selectedValue = document.getElementById("opciones").value;
            var button = document.querySelector('button');
            // Recorrer los checkboxes y agregar los elementos seleccionados al array
            button.disabled = true;
            button.classList.add('loading');
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    selectedItems.push(checkbox.value);
                }
            });
            console.log(selectedItems)
            fetch('/procesortho/', {
            method: 'POST',
            body: JSON.stringify({ selectedFiles: selectedItems,
                opcionSeleccionada: selectedValue }),
            headers: {
                //'X-CSRF-Token': obtenerCSRFToken(),
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.text())
        .then(data => {
            datosRespuesta = data;
            console.log(data);
            button.disabled = false;
            button.classList.remove('loading');
            window.location.href = '/archivos'
        })
        .catch(err => console.error(err));
        }
        function selectAll() {
            var checkboxes = document.getElementsByName('selected_files');
            var seleccionarTodosCheckbox = document.getElementById('seleccionarTodos');

            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = seleccionarTodosCheckbox.checked;
            }
        }
    </script>
</body>
</html>
